---
import MainLayout from '../layouts/MainLayout.astro';

const title = "About Us";
const description = "Learn more about us.";
---

<MainLayout {title} {description}>
  <h1>About Us</h1>
  <p>Welcome to the about page! Here's some information about us.</p>
</MainLayout>
